<html>

<head>

<style type="text/css">
h1{font-family:monospace; text-align:center; color:white; background-color:navy;}
p {font-family:monospace; font-size:20px;}

</style>

</head>

<body>
    <h1>MBTA Helper</h1>
    <form action="" method="post" name="mbta helper">
        <p>
            Please enter the name of location for your search:
        </p>
        <p>
            <input type="text" name='a' /> Place_Name  
      
        </p>
        <p>
            <input type="submit" value="Find the closest station!" />
        </p>
    </form>
</body>

</html>